<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Lots</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='addlot.css') }}">
</head>
<body>
    <div id="addlot" class="log">
        <form method="POST">
            <h3>New Parking Lot</h3>
            <label>Primelocation Name</label>
            <input class="forminput" name="primelocation" placeholder="Enter Primelocation" required>

            <label>Address</label>
            <textarea class="forminput" name="address" placeholder="Enter Address" required></textarea>

            <label>Pincode</label>
            <input class="forminput" name="pincode" placeholder="Enter Pincode" required>

            <label>Price(per hour)</label>
            <input class="forminput" name="price" placeholder="Enter Price(per hour)" required>

            <label>Maximum Spots</label>
            <input class="forminput" name="max_spots" placeholder="Enter Maximum Spots" required>
            <button type="submit">Add</button>
            <a href="{{ url_for('admin.dashboard') }}">Cancel</a>
        </form>
    </div>
</body>
</html>